/*Login View*/
.loginBody {font-family: Arial, Helvetica, sans-serif;}
.loginForm {border: 3px solid #f1f1f1;}
.loginInput[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.Loginimgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}
.Loginavatar {
    width: 70%;
    }
.LoginBackgroundcontainer {
    padding: 16px;
}


/*Layout View*/
.header-logo{
    width: 6%;
    float: left;
    margin-right: 10px;
}
.header-text{
display:inline;
font-size:larger;
}
.board-background{
  background-image: url("../assets/background3.jpg");
  background-size: cover;
  background-position: 50% 50%;
}
.vue-holder{
  display:block;
}
/*sets the size of the table so that there is a inframe scrollbar*/
.table{
max-height:490px;
overflow:auto;
}
/*removes the scrollbar of the main frame*/
.main{
    overflow-y: unset !important;
}



/* Table CSS*/
.dataSet{
    max-height: 50px;
    min-width: 130px;
  }

/* Tableframe CSS*/
.table{
    overflow:auto;
    }



/*
.main{
    overflow-y: unset !important;

}
*/
